---
import type { Section } from "../data/types"

interface Props {
    sections: Section[]
}
const { sections } = Astro.props
---
<div class="flex flex-wrap justify-center items-center mt-8">
    <ul class="grid grid-cols-1 lg:grid-cols-3 gap-4 ml-4 mr-4">
        {sections.map((section, index) => (
            <li style={`animation-delay: ${1.5 + index * 0.1}s`} class="hover:scale-120 hover:rotate-2 transition-transform duration-200 animate-[fade-up_0.4s_ease-out_both]">
                <a href={section.link} class="flex flex-wrap justify-center items-center space-x-2 rounded-xl">
                    <img src={section.icon} alt={section.text} title={section.text} loading="lazy" class="w-12 h-12 block rounded-full object-cover transition-all duration-200"/>
                    <span class="text-2xl font-semibold text-(--color-text-main)">{section.text}</span>
                </a>
            </li>
        ))}
    </ul>
</div>